:root {
    --color-primary: rgb(114, 144, 206);
    --color-secondary: rgb(244, 218, 183);
    --color-background: rgb(240, 245, 255);
    --color-card: rgba(255, 255, 255, 0.548);
    --color-card-outline: rgba(255, 255, 255, 0.815);
    --color-link: rgb(255, 159, 69);
    --color-text: rgb(20, 19, 18);
    --frosting: url(Images/Assets/Frosting.webp);
    --alt-text: rgba(83, 78, 73, 0.596);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: rgb(34, 89, 197);
        --color-secondary: rgb(235, 141, 19);
        --color-background: rgb(17, 25, 41);
        --color-card: rgba(0, 0, 0, 0.548);
        --color-card-outline: rgba(36, 36, 36, 0.815);
        --color-link: rgb(255, 123, 0);
        --color-text: rgb(255, 238, 221);
        --frosting: url(Images/Assets/FrostingDark.webp);
        --alt-text: rgba(218, 207, 196, 0.658);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    color: var(--color-text);
}

.s0 {
    fill: var(--color-text);
}

.flex-cards {
    display: flex;
}

#background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Images/Assets/Background.webp');
    background-repeat: no-repeat;
    background-size: 300%;
    z-index: -1;
    pointer-events: none;
    transition: background-position 0.5s ease-out;
    filter: blur(10px);
}

body {
    padding: 0;
    background-color: var(--color-background);
    font-family: "Lexend";
}

#logoHeader {
    width: 100px;
}

#welcomeHeader {
    padding: 20px;
}

#welcomeHeader h1 {
    font-size: 40px;
}

.card {
    background-image: var(--frosting);
    background-color: var(--color-card);
    outline: 1px solid var(--color-card-outline);
    width: 60%;
    font-size: larger;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    margin-top: 25px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.205));
}

#header {
    top: 20px;
    width: 20%;
    padding: 10px;
    border-radius: 50px;
    margin: auto;
    position: sticky;
    z-index: 1000;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 180, 51)
}

a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(192, 127, 14)
}

#linksCard {
    width: 30%;
}

.socialLink img {
    width: 15%;
    vertical-align: middle;
}

#altText {
    font-size: 15px;
    color: var(--alt-text);
}

*::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

@media (min-width: 1024px) {

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;
    }

    .flex-cards {
        display: block;
    }

    #background-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: -1;
    }

    #background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    body {
        padding: 0px;
        font-family: "Lexend";
    }

    #header {
        width: 80%;
        padding: 10px;
        border-radius: 50px;
        margin: auto;
        margin-top: 20px;
    }

    #logoHeader {
        width: 100px;
    }

    #welcomeHeader {
        padding: 20px;
    }

    #welcomeHeader h1 {
        font-size: 75px;
    }

    .card {
        width: 60%;
        font-size: larger;
        margin: auto;
        border-radius: 20px;
        padding: 10px;
        margin-top: 25px;
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.205));
    }

    a {
        font-weight: bolder;
        text-decoration: none;
    }

    a:hover {
        font-weight: bolder;
        text-decoration: none;
    }

    #linksCard {
        width: 30%;
    }

    .socialLink img {
        width: 15%;
        vertical-align: middle;
    }
}