:root {
    --color-basic: rgb(255, 255, 255);
    --color-primary: rgb(114, 144, 206);
    --color-secondary: rgb(244, 218, 183);
    --color-background: rgb(240, 245, 255);
    --color-card: rgba(255, 255, 255, 0.548);
    --color-card-outline: rgba(255, 255, 255, 0.815);
    --color-link: rgb(69, 143, 255);
    --color-link-active: rgb(255, 205, 69);
    --color-text: rgb(20, 19, 18);
    --frosting: url(Images/Assets/Frosting.webp);
    --alt-text: rgba(83, 78, 73, 0.596);
    --title-text: rgb(85, 61, 40);
    --background: url(Images/Assets/Background.webp);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-basic: rgb(0, 0, 0);
        --color-primary: rgb(34, 89, 197);
        --color-secondary: rgb(51, 67, 139);
        --color-background: rgb(17, 25, 41);
        --color-card: rgba(0, 0, 0, 0.548);
        --color-card-outline: rgba(36, 36, 36, 0.815);
        --color-link: rgb(255, 123, 0);
        --color-link-active: rgb(255, 187, 0);
        --color-text: rgb(255, 238, 221);
        --frosting: url(Images/Assets/FrostingDark.webp);
        --alt-text: rgba(218, 207, 196, 0.658);
        --title-text: rgb(253, 211, 172);
        --background: url(Images/Assets/BackgroundDark.webp);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    color: var(--color-text);
}

h1 {
    color: var(--title-text);
}

.logo {
    fill: var(--title-text);
    cursor: pointer;
}

.transition {
    fill: #fff;
}

#logoTransition {
    width: 50vh;
    height: 50vh;
}

.flex-cards {
    display: flex;
}

#background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: 300%;
    z-index: -1;
    pointer-events: none;
    transition: background-position 0.5s ease-out;
    filter: blur(10px);
}

body {
    padding: 0;
    background-color: var(--color-background);
    font-family: "Lexend";
}

body::-webkit-scrollbar {
    display: none;
}

#logoHeader {
    width: 100px;
}

.mainCard {
    padding: 20px;
}

.card {
    position: relative;
    background-image: var(--frosting);
    background-color: var(--color-card);
    outline: 1px solid var(--color-card-outline);
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 25px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.205));
}

#header {
    top: 20px;
    width: 20%;
    padding: 10px;
    border-radius: 50px;
    margin: auto;
    position: sticky;
    z-index: 1000;
    text-align: center;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--color-link);
    transition: ease-out 0.2s;
}

a:hover {
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-link-active);
}

#linksCard {
    width: 30%;
}

.socialLink img {
    width: 15%;
    vertical-align: middle;
}

#altText {
    font-size: 15px;
    color: var(--alt-text);
}

*::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.emphasis {
    font-size: 50px;
}

#date {
    color: var(--alt-text)
}

#currentProject h1 {
    margin-top: 0px;
}

#currentProject #date {
    margin-bottom: 0px;
}

#currentProject img {
    width: 100%;
    border-radius: 15px;
}

#welcomeHeader h1 {
    text-align: center;
    font-size: 70px;
}

#header .buttons {
    margin: auto;
    height: 40px;
    display: none;
}

#transition {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerButton {
    position: relative;
    background-color: var(--title-text);
    color: var(--color-basic);
    margin-left: 25px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    height: 0px;
    overflow: hidden;
}

.headerButton span {
    z-index: 3;
}

.headerButtonOverlay {
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-right: 30px;
    margin-left: 30px;
    width: 12%;
    height: 10%;
    border-radius: 100px;
    background-color: var(--title-text);
    padding: 10px;
}

.socials a {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.socialSVG {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.socialSVG .icon {
    fill: var(--color-secondary);
}

@media (min-width: 1024px) {

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;
    }

    .flex-cards {
        display: block;
    }

    #background-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: -1;
    }

    #background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    body {
        padding: 0px;
        font-family: "Lexend";
    }

    #header {
        width: 80%;
        padding: 10px;
        border-radius: 50px;
        margin: auto;
        margin-top: 20px;
        display: flex;
    }

    #header .buttons {
        display: flex;
        margin-left: 20px;
    }

    #header .buttons a {
        height: 100%;
        width: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logoHeader {
        width: 100px;
    }

    .card {
        width: 60%;
        font-size: larger;
        margin: auto;
        border-radius: 20px;
        padding: 10px;
        margin-top: 25px;
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.205));
    }

    #linksCard {
        width: 30%;
    }
}